* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.chat-app {
    display: flex;
    height: 100vh;
}

.left-view {
    width: 20%;
    background-color: antiquewhite;
    overflow: auto;
}

.right-view {
    width: 80%;
    background-color: cadetblue;
}

.chat-list {
    height: 90%;
    width: 100%;
    padding: 10px;
    overflow: auto;
}

.chat {
    color: white;
    margin-top: 15px;
    min-height: 30px;
    padding: 5px;
    border-radius: 8px;
    width: 200px;
    word-break: break-all;
    clear: both;
}

.join {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: chocolate;
    margin: auto;
    margin-top: 15px;
    width: 80%;
}

.leave {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkmagenta;
    margin: auto;
    margin-top: 15px;
    width: 80%;
}

.left {
    display: flex;
    align-items: center;
    background-color: dimgrey;
}

.right {
    background-color: darkgreen;
    display: flex;
    align-items: center;
    float: right;
}

.chat-input-box {
    height: 10%;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-input-box input {
    height: 65%;
    width: 80%;
    outline: none;
    border: none;
    padding: 10px;
    background-color: darkslategray;
    color: white;
    border-radius: 15px;
    font-size: 1rem;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 40%;
    width: 100%;
    border-bottom: 1px solid;
}

.profile-img {
    height: 80%;
    width: 77%;
}

.profile-name {
    font-size: 1.3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}