*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{

}

.tickets-filter{

}

.filter{

}

.red{

}

.blue{

}

.green{

}

.yellow{

}

.black{

}

.ticket-action{

}

.ticket-action div{

}

.ticket-action i{

}

.ticket-container{

}






