*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

}

.header{

}

.tickets-filter{

}

.filter{

}

.red{

}

.blue{

}

.green{

}

.yellow{

}

.black{

}

.tickets-action{

}

.tickets-action div{

}

.tickets-action i{

}

.tickets-container{

}






