* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.chat-app {
    display: flex;
    height: 100vh;
}

.left-view {
    width: 25%;
    background-color: antiquewhite;
}

.right-view {
    width: 75%;
    background-color: aquamarine;
}